* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    /* display: flex; */
    justify-content: space-between;
    background-color: rgb(233, 214, 151);
    box-shadow: rgb(176, 169, 160) 1px 1px;

}

#skip-nav {
    position: absolute;
    padding: 0.5rem 1.5rem;
    left: .5rem;
    color: black;
    background: rgb(233, 237, 233);
    border: 2px solid rgb(92, 231, 11);
    transform: translateY(-140%);
    transition: transform 325ms ease-in;
}

#skip-nav a {
    color: white;
    text-decoration: none;
}

#skip-nav:focus {
    transform: translateY(0);
    transition: transform 0.4s;
}

.logo {
    align-items: start;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 20px;
}

.logo a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
}

nav ul {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0px;
    /* gap: 1rem; */
    padding: 1rem;

}

nav ul li a {
    text-decoration: none;
    /* padding: 5 4px; */
}

nav ul a:hover {
    background-color: rgb(234, 173, 173);
    border-radius: 5px;
    padding: 5px;
}

.hideOnBg {
    display: none;
}

.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    min-height: 100vh;
    z-index: 999;
    display: none;
    margin-top: .5rem;
    background-color: rgba(225, 233, 233, 0.909);
    backdrop-filter: blur(5px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: .5rem;
}

.sideMenu li {
    width: 100%;
}

body {
    background-color: black;
    min-height: 100vh;
    /* background-color: rgb(131, 199, 236); */
    /* background-image: url(new-bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1,
h3,
div {
    text-align: center;
    color: rgb(249, 163, 51);
}

span {
    color: rgb(6, 129, 26);
}
.bio-g{
    width: 60%;
    margin: 0 auto;
    align-items: center;
}
.bio-g h6 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(15, 13, 11);
}

.bio-g p {
    font-size: 1.2em;
    text-align: center;
    color: rgba(249, 163,51);
    /* margin: .3rem auto; */
    text-align: center;
    align-items: center;
}

.btn {
    width: 40%;
    padding: .3rem;
    background-color: rgb(235, 204, 101);
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
}

.btn a {
    text-decoration: none;
    color: rgb(46, 0, 63);
}

footer {
    background-color:rgb(233, 214, 151);
    text-align: center;
    color: rgb(46, 0, 63);
}

footer p {
    font-size: 1.5rem;
    padding: 5px;
}


/* form design starts here */
#form {
    width: 50%;
    /* padding: rem; */
    margin: 0 auto;
}

.form-x {
    margin: 1rem auto;
}

form input {
    /* border: none; */
    padding: .5rem;
}

form input:active {
    border: green 1px solid;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.name label {
    font-size: 1em;
    text-align: start;
}

/* classes that hold both labels and inputs */
.f-name,
.l-name,
.dob,
.gender,
.edu,
.email,
.state,
.country,
.status,
.contact,
.course,
.school,
.scholarship,
.hear-about-us {
    display: flex;
    flex-direction: column;
}

/* id's that contains the selection options */
#gender,
#school-select,
#country-sel,
#employment,
#school,
#course,
#howDidYouContactUs,
#scholarship {
    padding: .5rem;
}

#proceed {
    width: 30%;
    cursor: pointer;
    /* color: white; */
    padding: .5rem;
    background-color: rgb(161, 213, 84);
}

.term-condition {
    margin-top: 1rem;
}

.btn-proceed {
    margin-top: 1rem;
}

.sign-in {
    margin: 1rem 0;
}

.sign-in button {
    padding: .2rem;
    cursor: pointer;
    /* background: #277b70; */
}



.form-footer {
    background-color: rgb(233, 214, 151);
    text-align: center;
    color: aliceblue;
    margin-bottom: 0;
}

.form-footer p {
    font-size: 1.5rem;
    /* padding: 5px; */
}







@media (max-width:480px) {
    
    .hideOnBg {
        display:flex;
    }
    .hideOnMobile {
        display: none;
    }

    

    .sideMenu {
        display: flex;
    }

    nav ul li {}








    nav ul li:hover {
        background-color: lightblue;
        border-radius: 10px;
        padding: 3px;
    }

    #check:checked~ul {
        left: 0;
    }
}